<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <connectionStrings>
    <add name="MyDbConnectionMNT" connectionString="User Id=billing; Password=sma; Data Source=btkerp;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="RIS_LIVE" connectionString="User Id=PRJ_ARCH; Password= btk_arch ; Data Source=172.16.10.60:1521/orcl;" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  
  <system.web>

    <customErrors mode="Off"/>
    
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="Oracle.DataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89B483F429C47342" />
        <add assembly="Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89B483F429C47342" />
      </assemblies>
    </compilation>
    
    <httpRuntime targetFramework="4.8" />
    
    <authentication mode="Forms">
      <forms loginUrl="~/Pages/Login.aspx" timeout="30" />
    </authentication>
  
  </system.web>
</configuration>